.banner-img {
  filter: brightness(50%);
}

.elarning-section {
  background-color: #f4fafd;
}

.joinNow-section {
  background-color: #e7f1ff;
}

.feedback-icon {
  background-color: #dcf2fe;
  border-radius: 50%;
}

.link-button {
  background-color: #242424;
}
