.banner-img {
  filter: brightness(50%);
}

.elarning-section {
  background-color: #f4fafd;
}

.joinNow-section {
  background-color: #289bde;
}

.feedback-icon {
  background-color: #dcf2fe;
  border-radius: 50%;
}
